# ignore without dotfiles
/**/*
!.*
!Brewfile

# miseは追加する
.config/mise/**/*
.config/aerospace/**/*

# ignore history files
*history

# ignore Trash files
*Trash

# ignore Trash files
.DS_Store

# ignore private .gitconfig
.gitconfig.private
