# ignore without dotfiles
/**/*
!.*
!Brewfile

# .configはアプリケーションごとに開放する
.config/mise/
.config/mise/*
!.config/aerospace/
!.config/aerospace/*

# ignore history files
*history

# ignore Trash files
*Trash

# ignore Trash files
.DS_Store

# ignore private .gitconfig
.gitconfig.private
